#!/bin/bash
#
# {{ ansible_managed }}
#
# Common variables.
REMOTE="{{ backup_remote_connection }}"
RSYNC_OPTIONS=" -az --no-owner --no-group --recursive --chmod=a+r,a+w,a+X"
RSYNC_C="/usr/bin/rsync ${RSYNC_OPTIONS}"

# Backup individual directories.
{% for directory in backup_directories %}

$RSYNC_C  {{ directory }} $REMOTE:{{ backup_remote_base_path }}/{{ backup_identifier }}
{% endfor %}
