#!/bin/bash
#
# {{ ansible_managed }}
#
# Common variables.
REMOTE="{{ backup_remote }}"
RSYNC_OPTIONS=" -az --no-owner --no-group --recursive --chmod=a+r,a+w,a+X"
RSYNC_C="/usr/bin/rsync ${RSYNC_OPTIONS}"

HOSTNAME=$(hostname)
TIME=$(date +%H:%M:%S_%d_%m_%Y)
TIMESTAMP=$(date +%s)

# Backup individual directories.
{% for directory in backup_directories %}

FILE=${TIME}_${HOSTNAME}_{{directory}}.tar.xz
#tar -cvJf {{ directory }} | xz -9 -c - > $FILE
tar -cvJf $FILE {{ directory }}
$RSYNC_C -e 'sshpass -p {{ rsync_password }} ssh -p22' $FILE {{ rsync_user }}@$REMOTE::{{ backup_remote_path }}/
rm $FILE
{% endfor %}

{% if backup_volumes is true %}

docker volume ls --format "{% raw %}{{.Name}}{% endraw %}" | while read vol
do

  echo $vol;
  FILE=${TIMESTAMP}_${HOSTNAME}_$vol.tar.gz

  docker run --name backup_${TIMESTAMP} -v $vol:/mnt ubuntu bash -c "tar -czvf /tmp/${FILE} /mnt "
  docker start backup_${TIMESTAMP}
  docker cp backup_${TIMESTAMP}:/tmp/${FILE} /tmp/${FILE}
  $RSYNC_C -e 'sshpass -p {{ rsync_password }} ssh -p22' /tmp/${FILE} {{ rsync_user }}@$REMOTE::{{ backup_remote_path }}/
  rm /tmp/$FILE
  docker stop backup_${TIMESTAMP}
  docker rm backup_${TIMESTAMP}
done

{% endif %}
